#app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#navbar, #page {
	border: 2px solid #d8d8d8;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 4em;
	height: 100%;
	margin: 0;
	border-top: none;
	border-bottom: none;
	border-left: none;
	padding: 5px;

	background-color: #f8f8f8;
}

#page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	padding: 0 0 0 4em;
}



#navbar > ul {
	margin: 0;
	border: none;
	padding: 0;

	list-style-type: none;
	text-align: center;
}
#navbar > ul > li {
	text-align: center;
}
#navbar > ul > li > span {
	font-size: 2.5em;
}
#navbar > ul > li:first-child > span {
	font-size: 3em;
}