@import "~normalize-scss/sass/normalize/import-now";
$bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background-color: #900;
	p {
		background-color: #090;
	}
}

@import "style/style2";